body{
    margin: 0;
    padding: 0;
    background-color: rgb(68, 67, 67);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-size: 18px;
}

.form{
    width: 500px;
    border: 2px solid white;
    padding: 15px;
}

.header{
    display: flex;
    justify-content: center;
}

.header input{
    width: 80%;
    height: 30px;
}

.header button{
    width: 20%;
}

.todoBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action button{
    width: 150px;
    height: 30px;
    border: 2px solid white;
    text-align: center;
    color: white;
}

.todoBlock p{
    font-weight: bold;
}

.change{
    background-color: red;
}

.delete{
    background-color: blue;
}

